{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://cdn.pixabay.com/photo/2020/01/07/22/33/building-lantern-4748843_1280.jpg" title="{{ top }}">
{% endblock %}

https://api.memegen.link/images/custom/_/my_background.png?background=http://www.gstatic.com/webp/gallery/1.png

https://images.unsplash.com/photo-1491290488890-a299b542ca7c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2592&q=80
https://i.imgur.com/CsCgN7Ll.png
https://cdn.pixabay.com/photo/2020/12/24/01/39/woman-5856277_1280.jpg


<!--  <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">